.containers {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .containers {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  @media only screen and (orientation: portrait) {
    .containers {
      grid-template-columns: repeat(16, calc(100vh / 16));
    }
  }
  
    @media only screen and (orientation: landscape) {
    .containers {
      grid-template-columns: repeat(16, 1fr);
    }
  }
  
  .gridSquare {
    aspect-ratio: 1 / 1;
    background-color: black;
  }